.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 4rem;
}

.title {
  font-size: 4.8rem;
  font-weight: 700;
}

.title span {
  display: inline-block;
  background: linear-gradient(to right, #f43f5e, #8b5cf6);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-size: 1.8rem;
  color: #475569;
}

.additional-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.film-content,
.music-content,
.restaurant-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  background-color: #fff;
  width: 39rem;
  height: 16.8rem;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.film-content {
  background: linear-gradient(to bottom right, #ffe4e6, #fecdd3);
}

.music-content {
  background: linear-gradient(to bottom right, #ede9fe, #ddd6fe);
}

.restaurant-content {
  background: linear-gradient(to bottom right, #d1fae5, #a7f3d0);
}

.additonal-title {
  font-size: 1.8rem;
  font-weight: 700;
}

.additional-description {
  font-size: 1.4rem;
  color: #475569;
}

.film-icon__btn {
  width: 4.8rem;
  height: 4.8rem;
  background-color: #ffe4e6;
  color: #be123c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.music-icon__btn {
  width: 4.8rem;
  height: 4.8rem;
  background-color: #ede9fe;
  color: #6d28d9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.restaurant-icon__btn {
  width: 4.8rem;
  height: 4.8rem;
  background-color: #d1fae5;
  color: #047857;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.film-icon {
  width: 4.8rem;
  height: 4.8rem;
  background-color: #f43f5e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.music-icon {
  width: 4.8rem;
  height: 4.8rem;
  background-color: #8b5cf6;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.restaurant-icon {
  width: 4.8rem;
  height: 4.8rem;
  background-color: #10b981;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
