.profile-container {
  display: flex;
  gap: 2rem;
}

.profile-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.profile-export {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.export-header {
  padding: 0.5rem 1rem;
}

.export-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.export-description {
  font-size: 1.4rem;
}

.export-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.pdf-button,
.csv-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 29.3rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.pdf-button {
  background-color: #dc2626;
  color: #fff;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
}

.csv-button {
  background-color: #fff;
  border: 1px solid #e2e8f0;
  font-size: 1.4rem;
  font-weight: 500;
}

.profile-month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.month-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.month-description {
  font-size: 1.4rem;
}

.month-chart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.chart-title {
  font-size: 1.6rem;
  font-weight: 600;
}

.chart-bar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 15rem;
}

.chart-bar {
  height: 1rem;
  width: 12.8rem;
  border-radius: 2rem;
  overflow: hidden;
  background-color: #e2e8f0;
}

.chart-bar__fill {
  height: 100%;
  border-radius: 2rem;
  background: linear-gradient(to right, #fb7185, #a78bfa);
}

.chart-bar__label {
  font-size: 1.4rem;
}

.profile-achievement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.achievement-header__title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.achievement-description {
  font-size: 1.4rem;
}

.achievement-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.achievement-title {
  font-size: 1.6rem;
  font-weight: 600;
}

.achievement-detail {
  font-size: 1.4rem;
}

.achievement-item__film,
.achievement-item__music,
.achievement-item__restaurant {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.achievement-item__film {
  background: linear-gradient(to right, #fff1f2, #ffe4e6);
  border-radius: 1rem;
}

.achievement-film {
  background-color: #f43f5e;
  color: #fff;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.achievement-item__music {
  background: linear-gradient(to right, #f5f3ff, #ede9fe);
  border-radius: 1rem;
}

.achievement-music {
  background-color: #8b5cf6;
  color: #fff;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.achievement-item__restaurant {
  background: linear-gradient(to right, #ecfdf5, #d1fae5);
  border-radius: 1rem;
}

.achievement-restaurant {
  background-color: #10b981;
  color: #fff;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.profile-recent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.recently-header__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.recently-description {
  font-size: 1.4rem;
}

.recently-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.recently-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recently-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.recently-title {
  font-size: 1.6rem;
  font-weight: 600;
}

.recently-date {
  font-size: 1.4rem;
  color: #475569;
}

.recently-film {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffe4e6;
  color: #e11d48;
  border-radius: 50%;
}

.recently-music {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ede9fe;
  color: #7c3aed;
  border-radius: 50%;
}

.recently-restaurant {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d1fae5;
  color: #059669;
  border-radius: 50%;
}

.recently-rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.recently-star {
  color: #facc15;
  fill: currentColor;
}

.rating-label {
  font-size: 1.6rem;
}

.profile-additional {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.additional-title {
  font-size: 1.8rem;
  font-weight: 700;
}

.additional-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.additional-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 29.3rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e2e8f0;
}
