.lifelog-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 4rem;
  padding: 4rem;
  gap: 2rem;
}

.header-title {
  font-size: 2.4rem;
  font-weight: 700;
}

.header-description {
  font-size: 1.8rem;
  color: #475569;
}

.log-search {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  position: relative;
}

.search-form {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-field {
  border: none;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #94a3b8;
}

.search-input {
  width: 81rem;
  height: 4rem;
  padding-left: 3.5rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

.filter-select-container {
  position: relative;
}

.filter-icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.search-filter {
  width: 16rem;
  height: 4rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  padding-left: 3.5rem;
}

.search-sorting {
  width: 20%;
  height: 4rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  padding-left: 1rem;
}

.lifelog-description {
  font-size: 1.6rem;
  color: #475569;
}

.lifelog-main {
  margin-bottom: 2rem;
}

.log-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(38.9rem, 1fr));
  padding: 2rem;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.log-item {
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
  width: 38.9rem;
}

.log-img {
  position: relative;
  object-fit: cover;
}

.log-film-icon,
.log-music-icon,
.log-restaurant-icon {
  position: absolute;
  top: 3%;
  right: 3%;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 2rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
}

.log-film-icon {
  background-color: #f43f5e;
}

.log-music-icon {
  background-color: #8b5cf6;
}

.log-restaurant-icon {
  background-color: #10b981;
}

.log-title {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1rem;
}

.log-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.log-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.log-star {
  color: #facc15;
  fill: currentColor;
}

.log-rating {
  font-size: 1.4rem;
}

.log-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.log-calendar {
  color: #475569;
}
